#navbar{
    flex-direction: column;
    margin: 0rem 5.6rem;
    overflow: hidden;
    padding: 0.2rem;
    position: sticky;
    z-index: 2;
    
}

#logo{
    margin: 10px 30px;

}

#logo img{
    height: 62px;
    margin: 3px 6px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
#home{
    height: 29.3rem;
    padding: 6.7rem 5.1rem;
}
#home::before{
    height: 46rem;
    width: 100%;
}
#home p{
    font-size: 0.9rem
}

#home .btn{
    font-size: 0.9rem;
}
#services{
    flex-direction: column;
}
#services .box img{
    height: 130px;
    display: block;
    margin: auto;
}

#clients{
    overflow: hidden;
    flex-wrap: wrap;
}

.h-primary{
    font-size: 1.9rem;
}

.h2-secondary{
    font-size: 1.5rem;
}

#services-container::before{
height: 72.6rem;
}
#clients{
    flex-wrap: wrap-reverse;
    
}
#id1{
     padding-left: 0rem;
}
#clients img{
    height: 4rem;
    padding: 0rem 1rem ;
}
.clients-item{
    padding: 17px;
}
#client-section{
    margin-top: 0;
}

#client-section::before{
    height: 26rem;
    

}
.btn-2 a{
    font-size: 0.8rem;
    padding: 0.2rem 0.1rem;
    color: lightslategrey;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.4rem;
    font-size: 0.8rem;
    border-radius: 9px;
    border: 3px solid brown;

}